html{
    background-color: #F8F0FB;
}

body{
    background-color: #F8F0FB;
}

.content{
    background-color: #F8F0FB; 
    color: #211A1D;
}

.content img{
    padding: 1em 0 0 2em;
    height: 40%;
    width: 40%;
    float: left;
}

.texts{
    padding: 1em 0 0 2em;
    float: left;
    width: 55%;
}

.navbar-brand img{
    width: 140px;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.navbar{
    padding: 1em 0 !important;
    background-color: #CAD5CA;
}

.navbar-toggler{
    border: none !important;
    outline: none !important;
}

.nav-item{
    padding: 0 1em 0 1em;
}

.banner{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #CAD5CA;
}

.cart img{
    width: 50px;
}

.cart{
    width: 10px;
    padding-right: 2em;
    position: fixed;  /*put in breakpoint*/
    left: 95%; /*put in breakpoint*/
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    text-align: center;
    padding: 0.875em 0.2em;
    text-decoration: none;
}

.oop{
    align-content: center;
    text-align: center;
    color: #211A1D;
    padding: 0 2em 0 2em !important;
    display: inline-flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}


.tealeaf{
    clip-path: circle(30%);
    width: 100px;
}

.blendy{
    background-color: #F8F0FB;
    padding-left: 4em;
    align-content: center;
}

.border{
    background-color: #F8F0FB;
    padding: 2em 0 2em 0;
    border: none !important;
    outline: none !important;
}

.border img{
    width: 5%;
    height: 5%;
}

.blendSel{
    background-color: #F8F0FB;
}

.blendSel h3{
    text-align: center;
    color: #211A1D;
    padding-top: 20px;
}

.teaOpps{
    background-color: #F8F0FB;
}

.teaOpps h3{
    padding: 20px 0 1em 2em;
    color: #211A1D;
}

.teagrid{
    margin-left: 10%;
}

.teagrid div{
    padding-bottom: 3em;
}

.btngrid{
    padding: 0 2em 1.5em 2em;
}

.btncolor{
    background-color: #6320EE;
    color: #CAD5CA;
    border: none;
}
#sort{
    float: right;
}

.contactform{
    padding-top: 2em;
    background-color: #F8F0FB;
    padding-left: 35%;
}

.contactform h3{
    padding-bottom: 1em;
    padding-left: 15%;
}

.form-group{
    background-color: transparent;
    color: #211A1D;
}

.form-group input{
    background-color: #CAD5CA;
    color: #211A1D;
}

.form-group textarea{
    background-color: #CAD5CA;
    color: #211A1D;
}

#sub{
    background-color: #6320EE;
    color: white;
}

#sub :hover{
    background-color: #8075FF;
}

.checkbox{
    color: #211A1D;
}

#login{
    background-color: #6320EE;
    color: white;
}

#login :hover{
    background-color: #8075FF;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #F8F0FB;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }

  .text-center{
    background-color: #F8F0FB;
  }